body {
    background-color: #C14040;  
    font-family: 'Bree Serif', serif;
    margin: 1em;
    box-sizing: border-box;
    color:red;
}

#header {
    height: 20px;
    padding: 1em;
    border-radius: 20px;
    background-color: #EFE3E3;
    color: #C14040;
    display: flex;
    justify-content: space-between;
}

#header h2 {
    font-size: 1.2em;
    font-weight: initial;
    align-self: center;
}

nav a {
    color: #982C2C;
    text-decoration: none;
    font-size: 0.8em;
}

#list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: #EFE3E3;
}

.card {
    height: 250px;
    width: 230px;
    border-radius: 20px;
    background-color: #982C2C;
    text-align: center;
    margin: 0.4em;
    list-style-type: none;
}

.card__image {
    width:200px;
}

p {
    color: #EFE3E3;
}

.statistic {
    list-style-type: none;
    color:red;
}

.detail {
    color:red;
}